@using RoyalState.Core.Application.ViewModels.SaleTypes;
@model List<SaleTypeViewModel>;

@{
    ViewData["Title"] = "Manage SaleType";
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";
}

<div class="container-fluid mt-3">
    <div class="d-flex justify-content-between mb-1">
        <h1 class="h2 mb-3">@ViewData["Title"]</h1>

        <div>
            <a asp-controller="SaleType" asp-action="Create" class="btn btn-success">Add new sale type</a>
        </div>
    </div>

    <div class="table-responsive">
        @if (Model.Count == 0 || Model == null)
        {
            <h3 class="text-center">There are not any sale type</h3>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="text-center col-1">Properties</th>
                        <th class="text-center col-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SaleTypeViewModel saleType in Model)
                    {
                        <tr>
                            <td>@saleType.Name</td>
                            <td>@saleType.Description</td>
                            <td class="text-center">@saleType.PropertiesQuantity</td>
                            <td class="text-center">
                                <a asp-controller="SaleType" asp-action="Edit" asp-route-id="@saleType.Id" class="btn btn-warning">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a asp-controller="SaleType" asp-action="Delete" asp-route-id="@saleType.Id" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>
</div>
