@using RoyalState.Core.Application.ViewModels.Property;
@model List<PropertyViewModel>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";
}

<div class="site-section site-section-sm pb-0">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="view-options bg-white py-3 d-md-flex align-items-center" style="margin-left:-10px;">
                    <div class="mr-auto">
                        <a class="btn btn-primary text-light fs-5" asp-controller="Agent" asp-action="NewProperty">Add New Property</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm bg-light">
    <div class="container">

        <div class="row mb-5">

            @foreach (var property in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="property-entry h-100">
                        <a href="property-details.html" class="property-thumbnail">
                            <div class="offer-type-wrap">
                                <span class="offer-type bg-success">@property.SaleTypeName</span>
                            </div>
                            <img src="@property.PropertyImages.FirstOrDefault()" alt="Image" class="img-fluid">
                        </a>
                        <div class="p-4 property-body">
                            <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                            <h2 class="property-title"><a href="property-details.html"><strong>Code: </strong>@property.Code</a></h2>
                            <span class="property-location d-block"><strong>Property Type: </strong>@property.PropertyTypeName</span>
                            <span class="property-location d-block mb-3"><strong>Sale Type: </strong>@property.SaleTypeName</span>
                            @*<span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 625 S. Berendo St Unit 607 Los Angeles, CA 90005</span> *@
                            <strong class="property-price text-primary mb-3 d-block text-success">$@property.Price</strong>
                            <ul class="property-specs-wrap mb-3 mb-lg-0">
                                <li>
                                    <span class="property-specs text-center">Beds</span>
                                    <span class="property-specs-number">@property.Bedrooms<sup>+</sup></span>

                                </li>
                                <li>
                                    <span class="property-specs text-center">Baths</span>
                                    <span class="property-specs-number">@property.Bathrooms</span>

                                </li>
                                <li>
                                    <span class="property-specs text-center">MT<sup>2</sup></span>
                                    <span class="property-specs-number">@property.Meters</span>

                                </li>
                            </ul>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Property" asp-action="EditProperty" asp-route-id="@property.Id" class="btn btn-sm btn-primary fw-bold">Edit</a>
                                    <a asp-controller="Property" asp-action="PropertyDetails" asp-route-id="@property.Id" class="btn btn-sm btn-danger fw-bold">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
