@using RoyalState.Core.Application.ViewModels.Property;
@model List<PropertyViewModel>
@{
    ViewData["Title"] = "Favorites";
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";
    bool? searchResult = ViewBag.isEmpty;
}

@if (searchResult == true)
{
    <div class="row justify-content-center mt-4 rounded-3">
        <div class="col-md-7">
            <div class="alert alert-info text-center" role="alert">
                <p>No properties found with the search criteria.</p>
                <a asp-controller="Client" asp-action="MyFavorites" class="btn btn-primary">View all</a>
            </div>
        </div>
    </div>
}
else if (Model == null || !Model.Any())
{
    <div class="site-section site-section-sm bg-light mt-3">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7">
                    <div class="site-section-title text-center">
                        <h2>My favorites</h2>
                        <p>This is your list of favorite properties. You can delete them or view more details about them.</p>
                    </div>
                </div>
            </div>

            <div class="row mb-5" style="margin-top:-50px;">
                <div class="row justify-content-center mt-4">
                    <div class="col-md-7">
                        <div class="alert alert-info text-center" role="alert">
                            <p>You haven't added any property to your favorites yet.</p>
                            <a asp-controller="Client" asp-action="Index" class="btn btn-primary">Add a favorite</a>
                        </div>
                    </div>
                </div>                
            </div>

        </div>
    </div>

}
else
{
    <div class="site-section site-section-sm bg-light mt-3">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7">
                    <div class="site-section-title text-center">
                        <h2>My favorites</h2>
                        <p>This is your list of favorite properties. You can delete them or view more details about them.</p>
                    </div>
                </div>
            </div>

            <div class="row mb-5" style="margin-top:-50px;">

                @foreach (var property in Model)
                {
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="property-entry h-100">
                            <a asp-controller="Home" asp-action="PropertyDetails" asp-route-id="@property.Id" class="property-thumbnail">
                                <div class="offer-type-wrap">
                                    <span class="offer-type bg-success">@property.SaleTypeName</span>
                                </div>
                                <img src="@property.PropertyImages.FirstOrDefault()" alt="Image" class="img-fluid">
                            </a>
                            <div class="p-4 property-body">
                                <h2 class="property-title fs-5"><strong>Property Type: </strong>@property.PropertyTypeName</h2>
                                <span class="property-location d-block"><strong>Code: </strong>@property.Code</span>
                                <span class="property-location d-block mb-3"><strong>Sale Type: </strong>@property.SaleTypeName</span>
                                @*<span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 625 S. Berendo St Unit 607 Los Angeles, CA 90005</span> *@
                                <strong class="property-price text-primary mb-3 d-block text-success">$@property.Price</strong>
                                <div class="specs d-flex mb-4">
                                    <span class="d-block d-flex align-items-center me-3">
                                        <span class="icon-bed me-2"></span>
                                        <span class="caption">@property.Bedrooms beds</span>
                                    </span>
                                    <span class="d-block d-flex align-items-center me-3">
                                        <span class="icon-bath me-2"></span>
                                        <span class="caption">@property.Bathrooms baths</span>
                                    </span>
                                    <span class="d-block d-flex align-items-center">
                                        <span class="icon-home me-2"></span>
                                        <span class="caption">@property.Meters MT<sup>2</sup></span>
                                    </span>
                                </div>
                                <a asp-controller="Client" asp-action="DeleteFavorite" asp-route-id="@property.Id" class="btn btn-sm btn-danger fw-bold">Delete</a>
                                <a asp-controller="Home" asp-action="PropertyDetails" asp-route-id="@property.Id" class="btn btn-sm btn-warning fw-bold">Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
}
