@using RoyalState.Core.Application.ViewModels.Improvements;
@model List<ImprovementViewModel>;

@{
    ViewData["Title"] = "Manage Improvement";
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";
}

<div class="container-fluid mt-3">
    <div class="d-flex justify-content-between mb-1">
        <h1 class="h2 mb-3">@ViewData["Title"]</h1>

        <div>
            <a asp-controller="Improvement" asp-action="Create" class="btn btn-success">Add new improvement</a>
        </div>
    </div>

    <div class="">
        @if (Model.Count == 0 || Model == null)
        {
            <h3 class="text-center">There are not any improvement</h3>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="text-center col-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ImprovementViewModel improvement in Model)
                    {
                        <tr>
                            <td>@improvement.Name</td>
                            <td>@improvement.Description</td>
                            <td class="text-center">
                                <a asp-controller="Improvement" asp-action="Edit" asp-route-id="@improvement.Id" class="btn btn-warning">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a asp-controller="Improvement" asp-action="Delete" asp-route-id="@improvement.Id" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>
</div>
